<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
                    <filter type=""/>
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
    <appSettings>
        <add key="DataEntitiesConnectionName" value="ChangeTechEntities"/>
        <add key="DataEntitiesContainerName" value="Entities"/>
    </appSettings>
    <connectionStrings>
        <!--<add name="ChangeTechEntities" connectionString="metadata=res://*/ChangeTech.csdl|res://*/ChangeTech.ssdl|res://*/ChangeTech.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.151;Initial Catalog=ChangeTech;User ID=sa;Password=episerver;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
        <add name="ChangeTechConnectionString" connectionString="Data Source=192.168.0.151;Initial Catalog=ChangeTech;Persist Security Info=True;User ID=sa;Password=episerver"/>-->

        <add name="ChangeTechEntities" connectionString="metadata=res://*/ChangeTech.csdl|res://*/ChangeTech.ssdl|res://*/ChangeTech.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:hvmgf7a4jf.database.windows.net;Database=ChangeTech;User ID=ChangeTech;Password=Huez_3daler;Trusted_Connection=False;Encrypt=True;&quot;" providerName="System.Data.EntityClient"/>
        <add name="ChangeTechConnectionString" connectionString="Server=tcp:hvmgf7a4jf.database.windows.net;Database=ChangeTech;User ID=ChangeTech;Password=Huez_3daler;Trusted_Connection=False;Encrypt=True;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <unity>
        <containers>
            <container name="container">
                <types>
                    <type type="ChangeTech.IDataRepository.IProgramRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.ProgramRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.ISessionRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.SessionRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IPageSequenceRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.PageSequenceRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.ISessionContentRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.SessionContentRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IPredictorRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.PredictorRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IInterventCategoryRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.InterventCategoryRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IUserRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.UserRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IInterventRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.InterventRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IProgramUserRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.ProgramUserRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IPageRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.PageRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IPredictorCategoryRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.PredictorCategoryRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.ILanguageRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.LanguageRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IProgramStatusRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.ProgramStatusRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IStoreProcedure, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.StoreProcedure, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IResourceRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.ResourceRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IPageQuestionItemRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.PageQuestionItemRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IPageQuestionRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.PageQuestionRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IPageThemplateRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.PageThemplateRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IQuestionAnswerRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.QuestionAnswerRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IQuestionRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.QuestionRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IPageContentRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.PageContentRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IPageVaribleRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.PageVaribleRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IResourceCategoryRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.ResourceCategoryRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IPageMediaRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.PageMediaRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IPreferencesRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.PreferencesRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IPageQuestionContentRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.PageQuestionContentRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IPageQuestionItemContentRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.PageQuestionItemContentRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IUserPageVariableRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.UserPageVariableRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IProgramLanguageRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.ProgramLanguageRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IQuestionAnswerValueRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.QuestionAnswerValueRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IEmailTemplateRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.EmailTemplateRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IEmailTemplateTypeRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.EmailTemplateTypeRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IProgramRoomRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.ProgramRoomRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IGraphRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.GraphRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IGraphItemRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.GraphItemRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IUserPageVariablePerDayRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.UserPageVariablePerDayRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IPageVariableGroupRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.PageVariableGroupRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IExpressionGroupRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.ExpressionGroupRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IExpressionRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.ExpressionRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IProgramAccessoryRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.ProgramAccessoryRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.ITipMessageRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.TipMessageRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.ISpecialStringRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.SpecialStringRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IGraphContentRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.GraphContentRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IGraphItemContentRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.GraphItemContentRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IFailEmailRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.FailEmailRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IActivityLogRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.ActivityLogRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IHelpItemRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.HelpItemRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IUserMenuRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.UserMenuRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IDeleteApplicationRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.DeleteApplicationRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.ISystemSettingRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.SystemSettingRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IRelapseRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.RelapseRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IShortMessageRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.ShortMessageRepository, ChangeTech.SQLServerRepository"></type>
                    <!--<type type="ChangeTech.IDataRepository.IUserGroupRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.UserGroupRepository, ChangeTech.SQLServerRepository"></type>-->
                    <type type="ChangeTech.IDataRepository.ICompanyRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.CompanyRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.ICompanyRightRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.CompanyRightRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IPaymentRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.PaymentRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IStudyRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.StudyRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IStudyContentRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.StudyContentRepository, ChangeTech.SQLServerRepository"></type>
                    <type type="ChangeTech.IDataRepository.IStudyUserRepository, ChangeTech.IDataRepository" mapTo="ChangeTech.SQLServerRepository.StudyUserRepository, ChangeTech.SQLServerRepository"></type>

                    <type type="ChangeTech.Contracts.IProgramService,ChangeTech.Contracts" mapTo="ChangeTech.Services.ProgramService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.ISessionService,ChangeTech.Contracts" mapTo="ChangeTech.Services.SessionService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IPageSequenceService,ChangeTech.Contracts" mapTo="ChangeTech.Services.PageSequenceService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.ISessionContentService,ChangeTech.Contracts" mapTo="ChangeTech.Services.SessionContentService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IPredictorService,ChangeTech.Contracts" mapTo="ChangeTech.Services.PredictorService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IInterventCategoryService,ChangeTech.Contracts" mapTo="ChangeTech.Services.InterventCategoryService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IUserService,ChangeTech.Contracts" mapTo="ChangeTech.Services.UserService,ChangeTech.Services">
                        <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
                            <constructor>
                                <param name="isWebApplication" parameterType="System.Boolean">
                                    <value value="True" type="System.Boolean"/>
                                </param>
                            </constructor>
                        </typeConfig>
                    </type>
                    <type type="ChangeTech.Contracts.IInterventService,ChangeTech.Contracts" mapTo="ChangeTech.Services.InterventService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IPageService,ChangeTech.Contracts" mapTo="ChangeTech.Services.PageService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IPredictorCategoryService,ChangeTech.Contracts" mapTo="ChangeTech.Services.PredictorCategoryService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.ILanguageService,ChangeTech.Contracts" mapTo="ChangeTech.Services.LanguageService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IProgramStatusService,ChangeTech.Contracts" mapTo="ChangeTech.Services.ProgramStatusService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IEmailService,ChangeTech.Contracts" mapTo="ChangeTech.Services.EmailService,ChangeTech.Services">
                        <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
                            <constructor>
                                <param name="isClientApplication" parameterType="System.Boolean">
                                    <value value="False" type="System.Boolean"/>
                                </param>
                            </constructor>
                        </typeConfig>
                    </type>
                    <type type="ChangeTech.Contracts.IResourceService,ChangeTech.Contracts" mapTo="ChangeTech.Services.ResourceService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IResourceCategoryService,ChangeTech.Contracts" mapTo="ChangeTech.Services.ResourceCategoryService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IPageVariableService,ChangeTech.Contracts" mapTo="ChangeTech.Services.PageVariableService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IUserAnswerService,ChangeTech.Contracts" mapTo="ChangeTech.Services.UserAnswerService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IEmailTemplateService,ChangeTech.Contracts" mapTo="ChangeTech.Services.EmailTemplateService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IEmailTemplateTypeService,ChangeTech.Contracts" mapTo="ChangeTech.Services.EmailTemplateTypeService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IProgramRoomService,ChangeTech.Contracts" mapTo="ChangeTech.Services.ProgramRoomService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IXMLService,ChangeTech.Contracts" mapTo="ChangeTech.Services.XMLService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IUserPageVariablePerDayService,ChangeTech.Contracts" mapTo="ChangeTech.Services.UserPageVariablePerDayService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IPageVariableGroupService,ChangeTech.Contracts" mapTo="ChangeTech.Services.PageVariableGroupService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IExpressionGroupService,ChangeTech.Contracts" mapTo="ChangeTech.Services.ExpressionGroupService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IProgramAccessoryService,ChangeTech.Contracts" mapTo="ChangeTech.Services.ProgramAccessoryService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IExpressionService,ChangeTech.Contracts" mapTo="ChangeTech.Services.ExpressionService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.ITipMessageService,ChangeTech.Contracts" mapTo="ChangeTech.Services.TipMessageService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IActivityLogService,ChangeTech.Contracts" mapTo="ChangeTech.Services.ActivityLogService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IProgramUserService,ChangeTech.Contracts" mapTo="ChangeTech.Services.ProgramUserService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IHelpItemService,ChangeTech.Contracts" mapTo="ChangeTech.Services.HelpItemService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IUserMenuService,ChangeTech.Contracts" mapTo="ChangeTech.Services.UserMenuService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IReportService,ChangeTech.Contracts" mapTo="ChangeTech.Services.ReportService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IProgramLanguageService,ChangeTech.Contracts" mapTo="ChangeTech.Services.ProgramLanguageService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IDeleteApplicationService,ChangeTech.Contracts" mapTo="ChangeTech.Services.DeleteApplicationService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IAzureQueueService,ChangeTech.Contracts" mapTo="ChangeTech.Services.AzureQueueService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IAzureTableService,ChangeTech.Contracts" mapTo="ChangeTech.Services.AzureTableService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.ITranslationService,ChangeTech.Contracts" mapTo="ChangeTech.Services.TranslationService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.ISystemSettingService,ChangeTech.Contracts" mapTo="ChangeTech.Services.SystemSettingService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IExportService,ChangeTech.Contracts" mapTo="ChangeTech.Services.ExportService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IRelapseService,ChangeTech.Contracts" mapTo="ChangeTech.Services.RelapseService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IShortMessageService,ChangeTech.Contracts" mapTo="ChangeTech.Services.ShortMessageService,ChangeTech.Services"></type>
                    <!--<type type="ChangeTech.Contracts.IUserGroupService,ChangeTech.Contracts" mapTo="ChangeTech.Services.UserGroupService,ChangeTech.Services"></type>-->
                    <type type="ChangeTech.Contracts.ICompanyService,ChangeTech.Contracts" mapTo="ChangeTech.Services.CompanyService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.ISpecialStringService,ChangeTech.Contracts" mapTo="ChangeTech.Services.SpecialStringService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IPaymentService,ChangeTech.Contracts" mapTo="ChangeTech.Services.PaymentService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IStudyService,ChangeTech.Contracts" mapTo="ChangeTech.Services.StudyService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IStudyContentService,ChangeTech.Contracts" mapTo="ChangeTech.Services.StudyContentService,ChangeTech.Services"></type>
                    <type type="ChangeTech.Contracts.IStudyUserService,ChangeTech.Contracts" mapTo="ChangeTech.Services.StudyUserService,ChangeTech.Services"></type>
                </types>
                <extensions>
                    <add type="Ethos.DependencyInjection.PolicyInjectionExtension,Ethos.DependencyInjection"/>
                </extensions>
            </container>
        </containers>
    </unity>
    <log4net>
        <root>
            <!-- 
				Change the value in the next line to alter the amount of logging generated by CruiseControl.NET.
				The following values are supported: DEBUG, INFO, WARN, ERROR, OFF.
				For more detailed information on how to configure log4net, see http://logging.apache.org/log4net/
				 -->
            <level value="DEBUG"/>
            <appender-ref ref="RollingFileAppender"/>
        </root>
        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="Log\\EmailLog.txt"/>
            <appendToFile value="true"/>
            <rollingStyle value="Size"/>
            <maxSizeRollBackups value="10"/>
            <maximumFileSize value="10MB"/>
            <staticLogFileName value="true"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread:%level] %message%newline"/>
            </layout>
        </appender>
    </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
