* {
border:0 none;
margin:0;
padding:0;
}

dayLabel 
{
	font-family:Arial;
	font-size:11;
	font-weight:bold;
	text-align:left;
	color:#D6D5D5;
}

dayText 
{
	font-family:Arial;
	font-size:24;
	font-weight:bold;
	text-align:left;
	color:#FFFFFF;
}
large{
	font-size: 30;
}
medium{
	font-size: 25;
}
small{
	font-size: 12;
}
pageTitle 
{
    font-family:Arial;
    font-size: 20;
    text-align:left;
    color:#2e6297;
}
onlyPageTitle 
{
    font-family:Arial;
    font-size: 60;
    text-align:center;
    font-weight:bold;
    color:#2e6297;
}
onlyPageText 
{
    font-family:Arial;
    font-size: 20;
    text-align:center;
    color:#3D3D3D;
}
pageText 
{
    font-family:Arial;
    font-size: 15;
    text-align:left;
    color:#3D3D3D;
}
pushPictureText{
	 font-family:Arial;
   font-size: 20;
   text-align:center;
   color:#990000;
}
inputLabel
{
	font-family:Arial;
	font-size:12;
	text-align:left;
	color:#333333;
}

hyperlink
{
	font-family:Arial;
	font-size:13;
	text-align:left;
	text-decoration:underline;
}

buttonName 
{
	font-family:Arial;
	font-size:15;
	text-align:left;
}

sliderNumber
{
	font-family:Arial;
	font-size:12;
	text-align:center;
	color:#3D3D3D;
}

sliderSideLabel 
{
	font-family:Arial;
	font-size:12;
	text-align:left;
	color:#3D3D3D;
}

timePickerLabel
{
	font-family:Arial;
	font-size:12;
	text-align:left;
	color:#3D3D3D;
}

preferenceName 
{
	font-family:Arial;
	font-size:15;
	text-align:center;
}

timer {
    font-family:Arial;
    font-size:40;
    text-align:center;
} 

graphTitle
{
	font-family:Arial;
	font-size:20;
	text-align:left;
}

graphAxisScale
{
	font-family:Arial;
	font-size:10;
	text-align:left;
}

graphSymbol
{
	font-family:Arial;
	font-size:8;
	text-align:left;
}

messageTitle
{
	font-family:Arial;
	font-size:30;
	text-align:left;
}

messageText
{
	font-family:Arial;
	font-size:16;
	text-align:left;
	color:#666666;
}

messageButton
{
	font-family:Arial;
	font-size:12;
	text-align:center;
}
helpItemTitle
{
	font-family:Arial;
	font-size:14;
	font-weight:bold;
	text-align:left;
	color:#000000;
}
helpItemText
{
	font-family:Arial;
	font-size:12;
	text-align:left;
	color:#666666;
}
/* the feedback in tip friend and setting */
messageBoxSuccessfulFeedback
{
	font-family:Arial;
	font-size:14;
	text-align:left;
	color:#000000;
}
messageBoxFailedFeedback
{
	font-family:Arial;
	font-size:14;
	text-align:left;
	color:#FF0000;
}
/* program room button */
programButtonName
{
	font-family:Arial;
	font-size:14;
	text-align:center;
	color:#FFFFFF;
}
roomLoaderLabel
{
	font-family:Arial;
	font-size:14;
	text-align:center;
	color:#FFFFFF;
}
a:link
{
    text-decoration:underline;
    color: #0000FF;
}
/* unvisited link */
a:visited
{
    text-decoration:underline;
    color: #800080;
}
/* visited link */
a:hover
{
    color: #FF00FF;
    text-decoration:underline;
}
/* mouse over link */