html
{
    font-size: 11px;
}
body
{
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding; /*background:transparent url(../Images/bg.png) repeat scroll 0 0;*/
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    background-color:#eeeeee;
}

body, th, td, input, textarea, select, option
{
    font-family: Arial, Times, serif;
    font-size: 11px;
}

div#container
{
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding; /*background:transparent url(../Images/bg_hd.png) repeat-x scroll 0 0;*/ /*overflow:hidden;*/
}

div#header
{
    height: 35px;
    background: transparent url(../Images/bg_hd.png) repeat-x scroll 0 0;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #BBE0E3;
}

div#header a
{
    text-decoration: none;
    color: #BBE0E3;
}

div#footer
{
    clear: both;
    margin: 0 auto;
    background: #333333;
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #BBE0E3;
    width: 100%;
}

div#leftmenu
{
    width: 180px;
    float: left;
    top: 120px;
}

div#leftmenu ul
{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0 0 0 10px;
    padding: 0;
    color: Black;
}

div#leftmenu li
{
    line-height: 22px;
    min-height: 19px;
    padding-left: 10px;
}

#leftmenu a
{
    border-bottom: 1px solid;
    border-bottom-color:#cccccc;
    display: block;
    font-size: 10px;
    text-decoration: none;
    padding-left: 10px;
}
#leftmenu a.active, #leftmenu a:hover, #leftmenu a:active, #leftmenu a:focus
{
    background-color: #cccccc;
    color: Black;
}

.selected
{
    background-color: #cccccc;
    color: Black;
}

.popupBackground
{
    background: #000;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.PopupWindow
{
    padding: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: Black;
    background-color: #000;
    filter: alpha(opacity=70);
    opacity: 0.7;
    color: White;
    width: 400px;
    height: 300px;
}

/*
div#leftmenu ul li 
{
	font-size:small;
	list-style-image:url(../images/img03.gif);
	padding: 0 0 10px 30px;
	margin: 0 0 0 25px;
}
*/

div#centerContent
{
    margin: 0 0 30px 220px;
}
div#centerContentByHP
{
    margin: 0 0 30px 150px;
}
div#centerPart
{
    min-height: 780px;
}
div#logout
{
    float: right;
    padding-right: 50px;
}
div#login
{
    text-align: left;
}
.breadscum
{
    font-size: 1em;
    font-weight: bold;
    font-family: Arial, Sans-Serif;
    height: 60px;
}
p span
{
    display: inline-block;
    width: 120px;
    font-weight: bold;
}
p input[type="text"]
{
    width: 200px;
}
p input[type="password"]
{
    width: 200px;
}

p select
{
    width: 160px;
}

/******************
logos
******************/

#logo
{
    height: 20px;
    margin: 0 1em;
    color: #BBE0E3;
    padding: 5px;
}

/*#logo a {
	border-bottom: none;
	text-decoration: none;
	text-transform: lowercase;
	font-style: italic;
}*/

/******************
LINKS
******************/

/* LINK VISTED HOVER ACTIVE selectors must remain in this order to work */
a
{
    color: Black;
}
a:hover
{
    color: Black;
}
a:active, a:focus
{
    color: Black;
}

/******************
HEADINGS
******************/

h1
{
    font-size: 1.6em;
    padding: 0;
    margin: 0 0 10px 0;
}

h2
{
    font-size: 1.1em;
}

h3
{
    font-size: 1.4em;
}

h4
{
    font-size: 1.1em;
}

h5
{
    font-size: .9em;
}

h6
{
    font-size: .8em;
}

/******************
TABLE STYLES
******************/

table
{
    margin: 0 20px 10px;
    border: 1px solid;
    border-color:#cccccc;
    border-collapse: collapse;
}

table td
{
    /*padding:5px;*/
    border: 1px solid;
    border-color:#cccccc;
}

table tr
{
    border: 1px solid;
    border-color:#cccccc;
}

table th
{
    border: 1px solid;
    background-color: #cccccc;
    border-color:#cccccc;
}

input[type='submit']
{
    padding: 2px,2px,2px,2px;
    width: 80px;
    cursor: pointer;
    font-size: 10px;
}

input[type='button']
{
    padding: 2px,2px,2px,2px;
    width: 80px;
    cursor: pointer;
    font-size: 10px;
}

.nestedTable
{
    margin: 0px;
    border: 0px;
    overflow: scroll;
}

.nestedTable tr
{
    border: 0px;
}

.nestedTable th
{
    border: 0px;
}

.nestedTable td
{
    border: 0px;
}
.tr_odd
{
    background-color:#dddddd;
}
.th_hover
{
    background-color:#bbbbbb;
}
.modalBackground {background-color:#4c566a ;filter:alpha(opacity=70);opacity:0.7;}