<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ChangeTech.Entities.Properties.Settings.ChangeTechConnectionString" connectionString="Data Source=.\SQL2008;Initial Catalog=ChangeTech;Persist Security Info=True;User ID=sa;Password=ethos" providerName="System.Data.SqlClient"/>
    <add name="ChangeTechEntities" connectionString="metadata=res://*/ChangeTech.csdl|res://*/ChangeTech.ssdl|res://*/ChangeTech.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQL2008;Initial Catalog=ChangeTech;Persist Security Info=True;User ID=sa;Password=ethos&quot;" providerName="System.Data.EntityClient"/>
    <add name="Entities" connectionString="metadata=res://*/ChangeTech.csdl|res://*/ChangeTech.ssdl|res://*/ChangeTech.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:hvmgf7a4jf.database.windows.net;Initial Catalog=ChangeTech;User ID=ChangeTech;Password=Huez_3daler;MultipleActiveResultSets=False&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="Entities" connectionString="metadata=res://*/ChangeTech.csdl|res://*/ChangeTech.ssdl|res://*/ChangeTech.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:hvmgf7a4jf.database.windows.net;Initial Catalog=ChangeTechBAK1;User ID=ChangeTech;Password=Huez_3daler;MultipleActiveResultSets=False&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="Entities" connectionString="metadata=res://*/ChangeTech.csdl|res://*/ChangeTech.ssdl|res://*/ChangeTech.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.39.171;Initial Catalog=ChangeTech20121108;User ID=sa;Password=ChangeTech;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
