<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="BlobAccountName" value="changetechstoragetest"/>
        <add key="BlobAcccountPassword" value="oA1NtIhg+nJBJuyUO7BsnWK8aotOsXRJVoDXwwuqq2YJxgAc+6TiONIvw13JdunZmFoDQDYibkRPSF3zB3jQjQ=="/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
