<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LocalChangeTechEntities" connectionString="metadata=res://*/LocalChangeTech.csdl|res://*/LocalChangeTech.ssdl|res://*/LocalChangeTech.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.151;Initial Catalog=ChangeTech;User ID=sa;Password=episerver;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="RemoteChangeTechEntities" connectionString="metadata=res://*/RemoteChangeTech.csdl|res://*/RemoteChangeTech.ssdl|res://*/RemoteChangeTech.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:hnho8c0pqy.database.windows.net;Database=SQLAzureTest;User ID=ronny;Password=Huez_3daler;Trusted_Connection=False;Encrypt=True;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>