<?xml version="1.0"?>

<connectionStrings>
  <add name="ChangeTechEntities" connectionString="metadata=res://*/ChangeTech.csdl|res://*/ChangeTech.ssdl|res://*/ChangeTech.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.80.182;Initial Catalog=ChangeTech20120719;User ID=sa;Password=ChangeTech;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  <add name="ChangeTechConnectionString" connectionString="Data Source=172.16.80.182;Initial Catalog=ChangeTech20120719;Persist Security Info=True;User ID=sa;Password=ChangeTech"/>

</connectionStrings>
