<?xml version="1.0"?>

<client>
  <endpoint address="http://217.68.101.250/systorwebservices/systorsmsvarious/systorsmsvarious.asmx" binding="basicHttpBinding" bindingConfiguration="SystorSMSSoap" contract="ChangeTechSMS.SystorSMSSoap" name="SystorSMSSoap"/>
  <endpoint address="https://epayment.bbs.no/Netaxept.svc" binding="basicHttpBinding" bindingConfiguration="Endpoint" contract="EPaymentService.INetaxept" name="Endpoint"/>
</client>