<?xml version="1.0"?>

<services>
  <service behaviorConfiguration="ChangeTech.WCFService.ServiceBehavior" name="ChangeTech.Contracts.Service">
    <endpoint address="" binding="basicHttpBinding" contract="ChangeTech.Contracts.IService">
      <identity>
        <dns value="localhost"/>
      </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
  </service>
  <service behaviorConfiguration="basicHttpServiceBehavior" name="ChangeTech.DeveloperWeb.PageReviewService">
    <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="ChangeTech.DeveloperWeb.PageReviewService">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
</services>