<?xml version="1.0"?>

<sources>
  <source name="System.ServiceModel" switchValue="Off" propagateActivity="true">
    <listeners>
      <add name="xmlTrace"/>
    </listeners>
  </source>
  <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
    <listeners>
      <add name="xmlTrace"/>
    </listeners>
  </source>
</sources>
