@charset "UTF-8";
/* ----------------------------------------------------*/
/* GENERAL SETTINGS  */

#wrapper-sitenav-large {
	margin: 0 auto;
	width: 100%;
	margin-bottom: -80px;
	/*border-bottom: 1px solid #7c1008;*/
	background: url(../gfx/bg-header.png) bottom repeat-x #f6f5f4;
	position: absolute;
	padding: 20px 0;
	margin-top: 0px;
}
.logo-halsoportalen {
	padding-left: 10px;
}
.additionaltext {
	display: none;
}
.sitenav-shade {
	margin: 0 auto;
	width: 100%;
	height: 20px;
	margin-bottom: -40px;
	background: url(../gfx/menushade.png) repeat-x;
}
.payoff-for-print {
	float: left;
	display: block;
	font-size: 0.8em;
	color: #b07b77;
	padding-top: 25px;
	line-height: 95%;
}
ul.dropdown, ul.dropdown2, #wrapper-dialoguebox, .actionplate, .results h4 {
	display: none;
}
.totalreport {
	display: block;
}
.wrapper-recommendation .actionplate,
.results h5 {
	display: block;
}
.actionbuttons {
	display: none;
}
.wrapper-recommendation {
	margin-bottom: -20px;
}
.totalreport .wrapper-resultcategory {
	background: none;
	margin-top: -98px;
}
.wrapper-resultcategory.result-tobacco {
	background: none;
}
.wrapper-resultcategory.result-alcohol {
	background: none;
}
.wrapper-resultcategory.result-drugs {
	background: none;
}
.wrapper-resultcategory.result-diet {
	background: none;
}
.wrapper-resultcategory.result-exercise {
	background: none;
}
.wrapper-resultcategory.result-life {
	background: none;
}
.wrapper-resultcategory.result-stress {
	background: none;
}
.wrapper-resultcategory.result-waist {
	background: none;
}
.wrapper-resultcategory-content {
	margin-bottom: -120px;
	padding-bottom: 0;
}
.wrapper-resultcategory-content .icon {
	display: block;
}
/*.wrapper-resultcategory .wrapper-main {
	margin-top: 0px;
	padding: -120px 0 0 0;
}*/
a.red li h5, a.yellow li h5, a.green li h5 {
	display: block;
}
a.red li h5.yellow, a.red li h5.green {
	display: none;
}
a.yellow li h5.red, a.yellow li h5.green {
	display: none;
}
a.green li h5.yellow, a.green li h5.red {
	display: none;
}
.mainmotive.minhalsoprofil {
	background: none;
	border-top: 1px solid #bdccd6;
}
#wrapper-hostpresentation {
	margin: 0 auto;
	width: 890px;
	min-height: 340px;
	background: none;
}
.hostpresentation-for-print {
	display: block;
	width: 400px;
	float: left;
}
.col890-print {
	clear: both;
	float: left;
	width: 890px;
	padding:20px 0;
	margin-bottom: -10px;
	color: #000;
}
.col430-print {
	float: left;
	width: 890px;
	padding: 20px 0;
	color: #000;
}
.col430-print-right {
	float: left;
	width: 890px;
	padding: 20px 0;
	margin-left: 0;
	color: #000;
}
.programlabel {
	float: left;
	width: 280px;
	margin-bottom: 20px;
	padding: 0px 0 0 0;
	background: #FC0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.programlabel .motive {
	display: block;
	position: relative;
	left: 0px;
	top: 0px;
	z-index: 1000;
}
.programlabel .programribbon {
	/*position: relative;
	height: 126px;
	left: 0;
	top: -36px;
	z-index: 1500;*/
}
.programlabel .host {
	margin: -62px 10px 12px 15px;

}
.programlabel h3 {
color: #000;
margin: -36px 0 0 0px;
}
.backgroundcolors {
	display: block;
	position: relative;
	left: 0;
	top: 0;
	z-index: 30000;
}
.programbackground {
	display: block;
}
.background {
	display: block;
	position: relative;
	left: -17px;
	top: -20px;
	z-index: 10;
}
.content {
	display: block;
	position: relative;
	left: 0;
	top: -126px;
	z-index: 20;
}
.content h3, .content h1 {
	color: #FFF;
}
/* The footer */
#footer {
	margin: 0 auto;
	width: 100%;
	min-height: 50px;
	background: none;
}
.footer-content {
	margin: 0 auto;
	width: 890px;
	padding-top: 10px;
	margin-bottom: 0px;
	text-align: center;
}
#footer .col890 {
	display: none;
	font-size: 0;
}
/* End */
