@charset "UTF-8";
/* CSS Document */

/* general styles
*******************************************************************************/
p, img, table, td, body, h1, h2, h3 {
	border: 0;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1.0em;
}
body {
	background-color: #FFF;
	padding-bottom: 20px;
	color: #435a6d;
}
ul {
	border: 0;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a {
	color: #1d73cc;
	text-decoration: none;
}
a:hover {
	color: #39F;
}
h1 {
	font-size: 1.5em;
	color: #000;
}
h2 {
	font-size: 1.3em;
	color: #000;
	padding-bottom: 0px;
}
h3 {
	font-size: 1.2em;
	color: #000;
}
.clear {
	clear: both;
}
.emptyline {
	line-height: 50%;
}
hr {
	border: none;
	border-bottom: 1px dotted #c8d3da;
	margin: 20px 0;
}
td {
	vertical-align: top;
}
/* End */




/* The top line 
*******************************************************************************/
#wrapper_topline {
	display: block;
	margin: 0 auto;
	width: 100%;
	/*border-bottom: 1px dotted #c8d3da;*/
	background-color: #79afb1;
	background: -webkit-gradient(linear, left top, left bottom, from(#79afb1), to(#265e5f));
	background: -moz-linear-gradient(top, #79afb1, #265e5f);
	background: -webkit-linear-gradient(top, #79afb1, #265e5f);
	background: -o-linear-gradient(top, #79afb1, #265e5f);
}
#topline {
	margin: 0 auto;
	width: 90%;
	color: #a8c1d8;
	padding: 0;
}
#topline .logo {
	float: left;
	/*background: url(../Images/logo-newme-white.png) 0px 20px no-repeat;*/
	width: 120px;
	height: 70px;
	border-right: 1px dotted #b4d1d2;
	margin-right: 10px;
}
#topline .programtitle {
	width: 100%;
	text-align: left;
	padding-top:15px;
	font-weight: normal;
	color: #FFF;
	font-size: 2.2em;
	text-transform: uppercase;
}
/* End */




/* The program window 
*******************************************************************************/
#wrapper-programwindow {
	margin: 0 auto;
	margin-bottom: 20px;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), color-stop(0.50, #FFF), to(#d1dae3));
	background: -moz-linear-gradient(top, #FFF, #FFF 50%, #d1dae3);
	background: -webkit-linear-gradient(top, #FFF, #FFF 50%, #d1dae3);
	background: -o-linear-gradient(top, #FFF, #FFF 50%, #d1dae3);
	border-bottom: 1px solid #b5bfcc;
}
#programwindow {
	margin: 0 auto;
	width: 90%;
	min-height: 250px;
	padding-top: 20px;
}
.hostpic {
    min-height: 250px;
    position:absolute;
}
/*background: url(../gfx/hostpic.png) 10px 0px no-repeat;*/

/* The Bubble */
.bubble-white {
	margin: 0 auto;
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	background: #FFF;
	border: 1px solid #606a7f;
	border-radius: 10px;
	-moz-box-shadow: inset 0 1px 5px 1px #d0e2ef, 0px 1px 5px #adb7c0;
	-webkit-box-shadow: inset 0 1px 5px 1px #d0e2ef, 0px 1px 5px #adb7c0;
	box-shadow: inset 0 1px 5px 1px #d0e2ef, 0px 1px 5px #adb7c0;
	padding: 15px 10px 18px 20px;
	text-align: left;
	width: 40%;
	position:relative;
}
.bubble-white-arrow {
	float: left;
	background: url(../Images/bubble-white-arrow.png) no-repeat;
	width:40px;
	height: 11px;
	margin-left: -28px;
	margin-top: -8px;
}
.bubble-white h1 {
	font-size: 1.2em;
}
.bubble-text {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.0em;
	line-height: 120%;
}
/* End */





/* Containers
*******************************************************************************/
.container-default {
	margin: 0 auto;
	width: 90%;
	margin-bottom: 20px;
	
}
.container-footer {
	margin: 0 auto;
	width: 90%;	
	text-align: center;
	padding-top: 10px;
	margin-bottom: 20px;
	border-top: 1px dotted #90b0c8;
	color: #729ac0;
	font-size: 0.8em;	
}
/* End */





/* The schedule
*******************************************************************************/

#schedule-header {
	margin: 0 auto;
	width: 90%;
	background: #000;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#434a5a));
	background: -o-linear-gradient(#000, #434a5a);
	background: -moz-linear-gradient(100% 100% 90deg, #434a5a, #000);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border: 1px solid #000;
	border-bottom: none;
}
#schedule-header h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #FFF;
	font-size: 1.5em;
	padding: 15px 10px 15px 20px;
}

/* The container for days taken (Blue) */
.container-taken {
	margin: 0 auto;
	width: 90%;
	margin-bottom: 10px;
	border-radius: 0px 0px 8px 8px;
	border: 1px solid #B2D3F0;
	background: #D1E8FC;
}
.container-taken .acc_trigger {
	padding: 10px 20px 10px 50px;
	font-size: 0.85em;
	font-weight: bold;
}
.container-taken .day-number {
	float: left;
	padding: 2px 3px 2px 3px;
	background: #68afdd;
	color: #FFF;
	text-align: center;
	width: 16px;
	border-radius: 2px;
	margin: 1px 0 0 -30px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.0em;
}
/* The container for days not taken yet (Grey) */
.container-untaken {
	margin: 0 auto;
	width: 90%;
	margin-bottom: 20px;
	border-radius: 8px;
	border: 1px solid #b5c0cc;
	background: #e0e5eb;
}
.container-untaken .acc_trigger {
	padding: 10px 20px 10px 50px;
	font-size: 0.85em;
	font-weight: bold;
}
.container-untaken .day-number {
	float: left;
	padding: 2px 3px 2px 3px;
	background: #758a9c;
	color: #FFF;
	text-align: center;
	width: 16px;
	border-radius: 2px;
	margin: 1px 0 0 -30px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.0em;
}
/* End */
